@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.camp-tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.tile-layout {
  justify-content: center;
  flex-wrap: wrap;
}

.tile:hover {
  border-color: aliceblue;
}
.tile {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.image {
  border-radius: 15px;
}
